<!doctype html>
<html lang="en">
<head>
    <title>
        Home
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- link -->
    <link rel="stylesheet" href="/stylesheets/Home.css">
    <script src="/javascripts/Home.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="header" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="opacity: 0.9">
        <div class="logo">
            <img src="images/logo.png" alt="">
            <span>Books For Life</span>
        </div>
        <!-- <a class="navbar-brand" href="#"><div class="fa fa-home"></div>HOME</a> -->
        <ul class="navbar-nav mr-auto">
            <div class="dropdown pl-5 pb-1 ">
                <a class="dropdown-toggle" data-toggle="dropdown">Browse</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#BooksHot">Books Hot</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
        </ul>
        <!-- mobile-menu -->
        <!-- <button id="mobile-menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- search  -->
        <form class="form-inline my-2 my-lg-0 mr-5" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Search...">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </div>
    
    <!-- slide -->
    <div class="banner">
        <div class="text_banner">
            <div id="slide_text" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicatorss">
                    <li data-target="#slide_text" data-slide-to="0" class="active"></li>
                    <li data-target="#slide_text" data-slide-to="1"></li>
                    <li data-target="#slide_text" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <span>"Như một đứa trẻ đọc truyện, điều tồi tệ là khi bạn đọc đến hồi kết, và thế rồi xong. Ý tôi là thật đau khổ khi truyện không còn thêm nữa." </span>
                        <p> -Robert Creeley</p>
                    </div>
                    <div class="carousel-item">
                        <span>"Tôi đọc lồi cả mắt và vẫn không đọc được đủ tới một nửa... người ta càng đọc nhiều, người ta càng thấy còn nhiều điều cần phải đọc."</span>
                        <p>-John Adams</p>
                    </div>
                    <div class="carousel-item">
                        <span>"Bạn sẽ có được tất cả mọi thứ bạn muốn trong cuộc sống, nếu bạn giúp người khác đạt được những gì họ muốn."</span>
                        <p> - Zig Ziglar</p>
                    </div>
                    <div class="carousel-item">
                        <span>"Đừng đọc cho vui giống như trẻ con, hay giống như kẻ tham vọng, đọc vì muốn được chỉ dẫn. Không, hãy đọc để sống."</span>
                        <p>- Gustave Flaubert</p>
                    </div>
                    <div class="carousel-item">
                        <span>"Bạn không học cách bước đi bằng sự tuân thủ những quy tắc. Bạn học hỏi qua hành động và việc đã trải qua."</span>
                        <p>- Richard Branson</p>
                    </div>
                    <div class="carousel-item">
                        <span>"Từ lúc tôi nhặt cuốn sách của anh lên cho tới khi tôi đặt nó xuống, tôi cười đến đau bụng. Một ngày nào đó tôi sẽ đọc nó." </span>
                        <p>-Groucho Marx</p>
                    </div>
                    <div class="carousel-item">
                        <span>"Thiết kế không chỉ là trông nó giống và cảm thấy như thế nào. Thiết kế là cách nó hoạt động ra sao."</span>
                        <p> - Steve Jobs</p>
                    </div>
                    <div class="carousel-item">
                        <span>"Bạn biết rằng bạn đã đọc một cuốn sách hay khi bạn giở đến trang cuối cùng và cảm thấy như mình vừa chia tay một người bạn."</span>
                        <p> -Khuyết danh</p>
                    </div>
                    <div class="carousel-item">
                        <span>"Chúng ta hãy dịu dàng và tử tế nâng niu những phương tiện của tri thức. Chúng ta hãy dám đọc, nghĩ, nói và viết."</span>
                        <p>-John Adams</p>
                    </div>
                    <div class="carousel-item">
                        <span>"Làm việc như thể có một ai đó đang làm việc hai mươi bốn giờ một ngày để lấy tất cả mọi thứ từ bạn."</span>
                        <p>- Mark Cuban</p>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slide_text" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icons" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slide_text" role="button" data-slide="next">
                    <span class="carousel-control-next-icons" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    {{#each username}}
    <div class="container">
        <h3>Welcome anh {{this.name}}</h3>
        <a href="/auths/logout"><button type="button" class="btn mt-2 mr-5 float-right btnLogin" data-toggle="modal" data-target="#exampleModalLive">Đăng xuất</button></a>
        <a href="/auths/show"><button type="button" class="btn btn-primary mt-2 mr-2 float-right btnSignUp" data-toggle="modal" data-target="#myModal">Trang quản trị</button></a>
    </div>
    {{else}}
    <div class="container">
        <a href="/auths/login"><button type="button" class="btn mt-2 mr-5 float-right btnLogin" data-toggle="modal" data-target="#exampleModalLive">Login</button></a>
        <a href="/auths/signup"><button type="button" class="btn btn-primary mt-2 mr-2 float-right btnSignUp" data-toggle="modal" data-target="#myModal">Sign up</button></a>
    </div>
    {{/each}}
    <!-- <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLiveLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>adbjkadakjdas</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" >SAVE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="db-example">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLive">
            Demo
        </button>
    </div> -->
    <!-- Books Hot -->
    <div id="BooksHot" class="container mt-5 text-center jumbotron">
        <h2 class="text-info">Books New</h2>
        <div class="row mt-4">
            {{#each contents}}
            <div class="card col-sm-6 col-md-3" style="width:250px">
                <a href="/{{this.slug}}">
                    <img class="card-img-top" src="{{this.avatar}}" alt="Card image" style="width:100%">
                </a>
                <!-- <img class="card-img-top imagesHide" src="/images/1.jpg" alt="Card image" style="width:89%"> -->
                <div class="card-body">
                    <a href="/{{this.slug}}">
                        <h4 class="card-title">{{this.name}}</h4>
                    </a>
                    <p class="card-text">{{this.author}}</p>
                </br>
                    <a href="/{{this.slug}}" class="btn btn-primary">See More</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <!-- footer -->
    <div class="footer card-img card bg-dark text-white mt-5">
        <img class="card-img" src="/images/library.jpg" alt="Card image" height="450px" style="opacity: 0.7; background-size: cover; background-attachment: fixed;">
        <div class="container card-img-overlay text-center ">
            <div class="row mt-4">
                <div class="col-sm-6 col-md-3 text-left">
                    <h5 class="card-title text-warning">GET IN TOUCH</h5>
                    <p class="card-text">FAQs</p>
                    <p class="card-text">Give us feedback</p>
                    <p class="card-text">Contact us</p>
                </div>
                <div class="col-sm-6 col-md-3 text-left">
                    <h5 class="card-title text-warning">ABOUT MOVIE STAR</h5>
                    <p class="card-text">About us</p>
                    <p class="card-text">Find us</p>
                    <p class="card-text">Schedule</p>
                    <p class="card-text">News</p>
                </div>
                <div class="col-sm-6 col-md-3 text-left">
                    <h5 class="card-title text-warning">LEGAL STUFF</h5>
                    <p class="card-text">Terms & Conditions</p>
                    <p class="card-text">Privacy policy</p>
                    <p class="card-text">Cookie policy</p>
                </div>
                <div class="col-sm-6 col-md-3 text-left">
                    <h5 class="card-title text-warning">CONNECT WITH US</h5>
                    <p class="card-text"><i class="fa fa-facebook-square"></i> Facebook</p>
                    <p class="card-text"><i class="fa fa-twitter-square"></i> Twitter</p>
                    <p class="card-text"><i class="fa fa-google-plus-square"></i> Google +</p>
                </div>
            </div>
        </div>
    </div>
    <div onclick="topFunction()" id="BackToTop" title=""><i class="fa fa-chevron-circle-up" ></i></div>
    <!-- onclick="topFunction()"  -->
    <!-- <div onclick="topFunction()" id="BackToTop" title=""><i class="fa fa-chevron-circle-up" aria-hidden="true"></i></div> -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>